@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700');
@font-face {
  font-family: "Avenir-Black";
  font-weight: 500;
  src: url("./fonts/Avenir-Black.ttf");
}

@font-face {
  font-family: "Avenir";
  src: url("./fonts/Avenir-Book.ttf");
}

:root {
  --header-size: 4rem;
  --grey-9: hsla(0, 0%, 10%, 1);
  --grey-1: hsla(0, 0%, 90%, 1);
  --primary: hsla(51, 99%, 62%);
}

html {
  font-family: "Avenir";
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}